<% include ./partials/header %>
<br>
<br>
<br>

<center>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">S.NO</th>
      <th scope="col">NAME</th>
      <th scope="col">FATHER NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">MOBILE NUMBER</th>
      <th scope="col">ADDRESS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= form.name %></td>
      <td><%= form.fatherName %></td>
      <td><%= form.email %></td>
      <td><%= form.mobileNumber %></td>
      <td><%= form.address %></td>
    </tr>
    
  </tbody>
</center>
<a class="btn btn-xs btn-warning" href="/show/<%= form._id %>edit">Edit</a>
<form id='delete-form' action="/show/<%= form._id %>?_method=DELETE" method="POST">
  <button class="btn btn-xs btn-danger">Delete</button>
</form>
<% include ./partials/footer %>